<div class="teacher-bio">
    <h3><img src="/assets/images/jb-baudin.jpg" alt="Jibé" class="teacher-photo">Jean-Baptiste Baudin</h3>
    <p>Jean-Baptiste Baudin discovered the accordion at age 11. At 14, he entered his first Trophée Mondial competition in Spain and later continued his development with Thierry Bouclier and eventually studied full-time 
        with Jacques Mornet at CNIMA, deepening his passion for both classical and jazz performance. At CNIMA, Jean-Baptiste focused on instrumental technique 
        combined with musical expression through the accordion.</p>
    <p>By age 17, he earned his Diplôme d’Études Musicales (DEM) from the Conservatory of Gennevilliers. He then went on to build an impressive presence on the international stage, 
        winning many major competitions across Europe, Russia, China, and North America, including the Coupe du Monde, the Trophée Mondial, the ACF France Cup, Klingenthal International Competition, 
        and several distinguished festivals and contests in France and abroad. His success led to performances at renowned venues, including invitations as a soloist at the celebrated Berlin Philharmonie.</p>
    <p>Jean-Baptiste has also collaborated professionally with some of the greatest names in the world of jazz and accordion, 
        including <strong>Angelo Debarre</strong>, <strong>Didier Lockwood</strong>, and <strong>Richard Galliano</strong>, enriching his artistry through
         these exceptional musical encounters.</p>
    <p>A laureate of numerous national and international competitions, he now divides his time between teaching the accordion and performing as a concert artist in France and internationally.</p>
</div>

